<div class="card mb-3">
  <img
    [src]="product.imageUrl"
    class="card-img-top"
    alt="Product Image"
    style="height: 150px"
  />
  <div class="card-body">
    <p class="card-text">
      <strong>{{
        product.totalAvailable
          ? product.totalAvailable + " items left!"
          : "Out of Stock!"
      }}</strong>
    </p>
    @if (product.discountPercentage) {

    <div class="position-absolute top-0 start-0">
      <span class="badge bg-danger">{{ product.discountPercentage }}% OFF</span>
    </div>
    }
    <p class="card-text">
      <small class="text-muted">{{ product.category }}</small>
    </p>
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">
      @if (product.discountedPrice) {
      <del class="text-muted">{{ product.originalPrice }}$</del>
      }
      <strong
        >{{
          product.discountedPrice
            ? product.discountedPrice
            : product.originalPrice
        }}$</strong
      >
    </p>
    <div class="d-flex mb-2">
      <div class="rating">
        <!-- Render filled stars -->
        @for (i of [].constructor(getStarCount(product.rating)); track $index) {
        <ng-container>
          <i class="fa-solid fa-star"></i>
        </ng-container>
        }
        <!-- Render half-filled star if necessary -->
        @if (hasHalfStar(product.rating)) {
        <i class="fa-solid fa-star-half-stroke"></i>
        }
      </div>
      <span class="ms-2">({{ product.rating }})</span>
    </div>
    <button
      class="btn"
      [class]="product.totalAvailable ? 'btn-primary' : 'btn-secondary'"
      [disabled]="!product.totalAvailable"
      (click)="addToCartHandler(product)"
    >
      {{ product.totalAvailable ? "Add to Cart" : "Out of Stock" }}
    </button>
  </div>
</div>
